.headerbar{
  background-color: $dark-blue;
  width: 100%;
  height: 70px;
  color: lightgray;
  font-size: 11px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.inner-wrapper{
  background-color: $light-grey;
  min-width: 300px;
  width: 95%;
  max-width: $screen-lg;
  margin: 0 auto;
  padding-bottom: 50px;
  .copy-wrapper{
    font-family: $jomo;
    font-size: 14px;
    color: $dark-blue;

    width: 80%;
    margin: 0 auto;
    text-align: left;
    p{
      margin: 0;
      padding: 20px 0 0 0;
      &:nth-last-of-type(){
        border-bottom: solid 1px lightgray;
      }
    }
  }
}

.albums-wrapper{
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding-top: 25px;

  .album{
    position: relative;
    margin-bottom: 20px;
    
    &:after{
      margin: 15px 0;
      width: 100%;
      height: 2px;
      content: "";
      background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
      display: block;
      opacity: .5;
    }

    .album-review{
      display: flex;
      flex-direction: row;
  
      .album-video-embed{
        flex: auto;
        background: #000;
      }
      .album-description{
        width: 300px;
        padding-left: 15px;
  
        p,
        h5,
        h6{
          margin: 0;
          padding: 0;
        }
      }
    }
    .album-details{
      min-height: 200px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @media only screen and (min-width: $screen-sm){
        flex-wrap: nowrap;
      }
      margin-bottom: 20px;
      .album-number{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .album-title-artist{
        flex: auto;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
  
        h3,
        h4{
          padding: 0;
          margin:0;
        }
      }
      .album-cover{
        width: 200px; // this needs to be in a media query for a bigger size when dealing with other break points
        height: 200px;
        img{
          width: 100%;
        }
      }
    }

    &:nth-of-type(even){
      //background-color: red;
      .album-details{
        flex-direction: row-reverse;
        .album-number{
          text-align: right;
        }
        .album-title-artist{
          text-align: left;
          padding-right: 0;
          padding-left: 20px;
        }
      }
    }
  }
  
}