@import 'components/landing.scss';
@import 'components/albumslist.scss';
@import 'components/footer.scss';
body{
    margin: 0;
    padding: 0;
    background-color: $dark-grey;
    text-align: center;
    // .navbar{
    //     background: #21374B;
    //     color: #E7DACB;
    //     height: 50px;
    // }
    // h1{
    //     font-size: 40px;
    //     margin-top: 30px;
    // }
}
