@import 'https://fonts.googleapis.com/css?family=Big+Shoulders+Text:700|Jomolhari|Montserrat&display=swap';

$dark-grey: #272729;
$light-grey: #eaeaea;
$light-beige: #d8dccd;
$dark-blue: #272b34;
$black: #000;

$jomo: 'Jomolhari', serif;
$bigshoulders: 'Big Shoulders Text', cursive;
$montserrat: 'Montserrat', sans-serif;